// @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

// Quicksand
@font-face {
  font-family: Quicksand;
  src: url("~@fonts/Quicksand-Light.ttf") format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url("~@fonts/Quicksand-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url("~@fonts/Quicksand-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url("~@fonts/Quicksand-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url("~@fonts/Quicksand-Bold.ttf") format('ttf');
  font-weight: 700;
  font-style: normal;
}

// Be Vietnam Pro
@font-face {
  font-family: Be Vietnam Pro;
  src: url("~@fonts/BeVietnamPro-Thin.ttf") format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Be Vietnam Pro;
  src: url("~@fonts/BeVietnamPro-Light.ttf") format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Be Vietnam Pro;
  src: url("~@fonts/BeVietnamPro-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Be Vietnam Pro;
  src: url("~@fonts/BeVietnamPro-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Be Vietnam Pro;
  src: url("~@fonts/BeVietnamPro-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Be Vietnam Pro;
  src: url("~@fonts/BeVietnamPro-Bold.ttf") format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Be Vietnam Pro;
  src: url("~@fonts/BeVietnamPro-ExtraBold.ttf") format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Be Vietnam Pro;
  src: url("~@fonts/BeVietnamPro-Black.ttf") format('ttf');
  font-weight: 900;
  font-style: normal;
}