@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixin.scss" as *;

.share-post {
  .inner {
    margin-top: 0 !important;
    display: flex;
    align-items: center;

    .social-share {
      ul {
        display: flex;
        column-gap: 1.5rem;

        li {
          width: 3rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid silver;
          border-radius: 50%;
          transition: all 0.25s linear;

          a {
            line-height: 1em;
          }

          i {
            color: silver;
          }

          &:hover {
            i {
              color: #fff !important;
            }

            &.facebook {
              border: 1px solid #3b5998;
              background-color: #3b5998;
            }

            &.twitter {
              border: 1px solid #1da1f2;
              background-color: #1da1f2;
            }

            &.linkedin {
              border: 1px solid #0077b5;
              background-color: #0077b5;
            }

            &.pinterest {
              border: 1px solid #bd081c;
              background-color: #bd081c;
            }
          }
        }
      }
    }
  }
}