@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

// Mixin containing all block styles
// This allows reuse in both theme and editor contexts
@mixin block-styles {
  //common
  

  // Block Service
  
}

// Apply block styles at root level for theme
@include block-styles;