@use "./utilities/variables.scss" as *;
@use "./utilities/mixin.scss" as *;

@use "./_sprite.scss";
@use "~@styles/shared/config.scss";
@use "~@styles/shared/variables.scss";
@use "~@styles/shared/editor.scss";

@use "./base/generic.fonts.scss" as *;
@use "./base/generic.wordpress.scss" as *;

@use "./layout/general.scss" as *;
@use "./layout/header.scss" as *;
@use "./layout/breadcumb.scss" as *;
@use "./layout/blocks.scss" as *;
@use "./layout/footer.scss" as *;

@use "./pages/404.scss" as *;
@use "./pages/pages.scss" as *;

@import "~@csstools/normalize.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~swiper/swiper-bundle.min.css";