@use "./abstracts/variables.scss" as *;
@use "./abstracts/mixin.scss" as *;

@use "./base/fonts.scss" as *;
@use "./base/wordpress.scss" as *;

@use "./components/slider.scss";
@use "./components/buttons.scss";
@use "./components/breadcumb.scss";
@use "./components/share-post.scss";

@use "./layout/general.scss" as *;
@use "./layout/header.scss" as *;
@use "./layout/footer.scss" as *;
@use "./layout/blocks.scss" as *;

@use "./pages/404.scss" as *;
@use "./pages/cpt.scss" as *;
@use "./pages/contact.scss" as *;

@import "~@csstools/normalize.css";
@import "swiper/swiper-bundle.css";