// Abstracts
@use "./abstracts/variables.scss" as *;
@use "./abstracts/mixin.scss" as *;

// Base
// Base
@use "./base/fonts.scss" as *;
@use "./base/wordpress.scss" as *;
// Components
@use "./components/breadcrumb.scss" as *;
@use "./components/buttons.scss" as *;
@use "./components/forms.scss" as *;
@use "./components/search.scss" as *;
@use "./components/share-post.scss" as *;
// Layout
@use "./layout/general.scss" as *;
@use "./layout/header.scss" as *;
@use "./layout/footer.scss" as *;
@use "./layout/blocks.scss" as *;
// Pages
@use "./pages/404.scss" as *;
@use "./pages/contact.scss" as *;
@use "./pages/cpt.scss" as *;
// Vendors (Must be after @use)
@import "~@csstools/normalize.css";
@import "swiper/swiper-bundle.css";
