@use "./utilities/variables.scss" as *;
@use "./utilities/mixin.scss" as *;
@use "./base/generic.fonts.scss" as *;
@use "./base/generic.wordpress.scss" as *;
@use "./layout/general.scss" as *;
@use "./layout/header.scss" as *;
@use "./layout/footer.scss" as *;
@use "./layout/breadcumb.scss" as *;
@use "./layout/blocks.scss" as *;
@use "./pages/404.scss" as *;
@use "./pages/contact.scss" as *;
@use "./pages/single.scss" as *;
@use "./components/section.scss";
@import "~@csstools/normalize.css";
@import "swiper/swiper-bundle.css";