/wp-admin/
/wp-includes/
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/languages/
/wp-content/wflogs/
/wp-content/liteSpeed/
/wp-content/upgrade-temp-backup/
/wp-content/backup-db/
/wp-content/debug.log
/wp-content/index.php

.htaccess
index.php
license.txt
local-xdebuginfo.php
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
wp-login.php
xmlrpc.php