@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

.error404 {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page-404 {
  padding: 0 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  background-color: #fff;
  z-index: 10000;

  .inner {
    width: 100%;
  }

  h1 {
    font-size: clamp(5rem, 10vw, 9rem);
    font-weight: bold;
  }

  h2 {
    font-weight: bold;
  }

  .btn {
    padding: 8px 5rem;
    position: relative;
    border-radius: 3rem;
    border: 4px solid #000;
    font-size: clamp(1.6rem, 3.6vw, 1.8rem);
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      left: 0;
      top: 0;
      background: #000;
      transition: 0.5s ease;
      z-index: -1;
    }

    &:hover {
      color: #fff;
      transition: 0.5s ease;
      border: 4px solid #000;

      &:before {
        width: 100%;
      }
    }

    @include maxWidth($md) {
      padding: 5px 3rem;
    }
  }

  svg {
    width: 100%;
    visibility: hidden;
  }
}
