:root {
  --primary-color: #333;
  --primary-color-dark: #fff;
  --secondary-color: #626262;
  --secondary-color-dark: #fff;
  --background-color: hsla(230, 80%, 98%, 1);
  --background-dark: hsla(230, 55%, 4%, 1);
}

html[data-theme="dark"] {
  --primary-color: #fff;
  --primary-color-dark: #333;
  --secondary-color: #fff;
  --secondary-color-dark: #626262;
  --background-color: hsla(230, 55%, 4%, 1);
  --background-dark: hsla(230, 80%, 98%, 1);
}

$primaryFont: "Be Vietnam Pro", sans-serif;
$secondaryFont: "Quicksand", sans-serif;

$primaryColor: var(--primary-color);
$primaryColorDark: var(--primary-color-dark);
$secondaryColor: var(--secondary-color);
$secondaryColorDark: var(--secondary-color-dark);

$backgroundColor: var(--background-color);
$backgroundDark: var(--background-dark);

$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$blackWeight: 900;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;

$container-mw: 144rem;